<li>
	{{name}}

	<button class="change-eaten" data-id="{{id}}" data-neweaten="{{eaten}}">
		{{#if eaten}}BURGER TIME!{{else}}EAT UP!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DEVOUR!</button>
</li>
